<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS-->
    <link rel="stylesheet" href="../CSS/Estilos.css">
    <!--FAVICON-->
    <link rel="icon" href="../favicon.png" type="image/x-icon">

    <title>Contacto</title>
</head>
<body>
    <header>
        <img src="../Assets/Imagenes/Logo.png" width="512" height="512" alt="Logotipo" class="logo">
        <h1>Mi Web de Proyecto HTML Y CSS</h1>
        <nav class="nav-links">
            <ul class="nav-links">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./Portfolio.html">Portfolio</a></li>
                <li><a href="./Presupuesto.html">Presupuesto</a></li>
                <li class="active"><a class="active" href="/Views/Contacto.html">Contacto</a></li>
            </ul>
        </nav>

    </header>

    <main>
        <section class="contact-info">
            <h2>Información de la Empresa</h2>
            <p><strong>Nombre:</strong> Empresa Ficticia S.A.</p>
            <p><strong>Teléfono:</strong> +34 912 345 678</p>
            <p><strong>Email:</strong> contacto@empresaficticia.com</p>
            <p><strong>Dirección:</strong> Calle Falsa 123, Madrid, España</p>
        </section>

        <section class="map">
            <h2>Nuestra Ubicación</h2>
            <img src="../Assets/Imagenes/Mapa.webp" width="1248" height="770" alt="Mapa de la ubicación de la empresa">
        </section>
          
    </main>

    <footer>
        <p>&copy; 2024 Empresa Ficticia S.A. Todos los derechos reservados.</p>
        <div class="social">
            <a href="https://www.youtube.com">
                <img src="../Assets/Imagenes/Youtube.webp" width="980" height="980" alt="Logotipo" class="YouTube"></a>
            <a href="https://www.instagram.com">
                <img src="../Assets/Imagenes/instagram.webp" width="980" height="980" alt="Logotipo" class="Instagram"></a>
            <a href="https://www.x.com">
                <img src="../Assets/Imagenes/X.webp" width="980" height="980" alt="Logotipo" class="X"></a>
     </div>
    </footer>
        
</body>
</html>