<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS-->
    <link rel="stylesheet" href="../CSS/Estilos.css">
    <!--FAVICON-->
    <link rel="icon" href="../favicon.png" type="image/x-icon">

    <title>Portfolio</title>
</head>
<body>
    <header>
        <img src="../Assets/Imagenes/Logo.png" width="512" height="512" alt="Logotipo" class="logo">
        <h1>Mi Web de Proyecto HTML Y CSS</h1>
        <nav class="nav-links"> 
            <ul class="nav-links">
                <li><a href="../index.html">Inicio</a></li>
                <li class="active"><a class="active" href="/Views/Portfolio.html">Portfolio</a></li>
                <li><a href="./Presupuesto.html">Presupuesto</a></li>
                <li><a href="./Contacto.html">Contacto</a></li>
            </ul>
        </nav>

    </header>
     <main class="galeria">
        <div class="celda-a"><img src="https://picsum.photos/301/600/?random" alt="Foto1"></div>
        <div><img src="https://picsum.photos/302/600/?random" alt="Foto2"></div>
        <div class="celda-b"><img src="https://picsum.photos/300/601/?random" alt="Foto3"></div>
        <div><img src="https://picsum.photos/300/602/?random" alt="Foto4"></div>
        <div><img src="https://picsum.photos/501/600/?random" alt="Foto5"></div>
        <div class="celda-c"><img src="https://picsum.photos/322/600/?random" alt="Foto6"></div>
        <div><img src="https://picsum.photos/300/301/?random" alt="Foto7"></div>
        <div><img src="https://picsum.photos/380/602/?random" alt="Foto8"></div>
        <div><img src="https://picsum.photos/380/402/?random" alt="Foto9"></div>
        <div><img src="https://picsum.photos/310/301/?random" alt="Foto7"></div>
        <div><img src="https://picsum.photos/380/672/?random" alt="Foto8"></div>
        <div><img src="https://picsum.photos/580/402/?random" alt="Foto9"></div>
    </main>
    
    <footer>
        <p>&copy; 2024 Empresa Ficticia S.A. Todos los derechos reservados.</p>
        <div class="social">
            <a href="https://www.youtube.com">
                <img src="../Assets/Imagenes/Youtube.webp" width="980" height="980" alt="Logotipo" class="YouTube"></a>
            <a href="https://www.instagram.com">
                <img src="../Assets/Imagenes/instagram.webp" width="980" height="980" alt="Logotipo" class="Instagram"></a>
            <a href="https://www.x.com">
                <img src="../Assets/Imagenes/X.webp" width="980" height="980" alt="Logotipo" class="X"></a>
     </div>
    </footer>
    
</body>
</html>